@model IEnumerable<DoAnLTW.Models.Product>

@{
    ViewBag.Title = "Search Product";
    Layout = "~/Areas/Admin/Views/Shared/_AdminLayout.cshtml";
}

<h2>Index</h2>
<head>
    <style>
        img{
            height:100px;
            max-width:100px;
        }
    </style>
</head>

<p>
    @Html.ActionLink("Thêm mới sản phẩm", "Create", null, new { @class = "btn btn-primary btn-sm" })
</p>
<table class="table">
    <tr>
        <th class="bg-success col-md-3">
            Tên sản phẩm
            @*@Html.DisplayNameFor(model => model.ProductName)*@
        </th>
        <th class="bg-success col-md-2">
            Hình ảnh
            @*@Html.DisplayNameFor(model => model.ProductImage)*@
           
        </th>
        <th class="bg-success col-md-1">
            Đơn giá
            @*@Html.DisplayNameFor(model => model.ProductPrice)*@
        </th>
        <th class="bg-success col-md-2">
            Danh mục
            @*@Html.DisplayNameFor(model => model.Category.CategoryName)*@
        </th>
        <th class="bg-success col-md-2">
            Mô Tả
            @*@Html.DisplayNameFor(model => model.ProductDescription)*@
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.ProductName)
            </td>
            <td>
                <img src="@Html.DisplayFor(modelItem => item.ProductImage)" />
                
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ProductPrice)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Category.CategoryName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ProductDescription)
            </td>



            <td >
                @Html.ActionLink("Edit", "Edit", new { id = item.ProductID }) |
                @Html.ActionLink("Details", "Details", new { id = item.ProductID }) |
                @Html.ActionLink("Delete", "Delete", new { id = item.ProductID })
            </td>
</tr>
    }

</table>
