@model DoAnLTW.Models.ViewModel.ProductSearchVM

<head>
    <style>
        img {
            height: 100px;
            max-width: 100px;
        }
    </style>
</head>
<!--Hiển thị danh sách sản phẩm-->
@if (Model.Products != null && Model.Products.Any())
{
    <h2 class="bg-success">DANH SÁCH SẢN PHẨM</h2>

    <table class="table bg-info container-responsive">
        <thread>


            <tr>
                <th class="bg-success col-md-3"> Tên sản phẩm </th>
                <th class="bg-success col-md-2"> Hình ảnh </th>
                <th class="bg-success col-md-1"> Đơn giá </th>
                <th class="bg-success col-md-2"> Danh mục </th>
                <th class="bg-success col-md-4"></th>
            </tr>
        </thread>
        <tbody>
            @foreach (var product in Model.Products)
            {
                <tr>
                    <td>  @Html.DisplayFor(modelItem => product.ProductName) </td>
                    <td> <img src="@Html.DisplayFor(modelItem => product.ProductImage)" /></td>
                    <td>  @Html.DisplayFor(modelItem => product.ProductPrice) </td>
                    <td> @Html.DisplayFor(modelItem => product.Category.CategoryName) </td>
                    <td>
                        @Html.ActionLink("Sửa", "Edit", new { id = product.ProductID }, new { @class = "btn btn-primary btn-sm" })
                        @Html.ActionLink("Chi tiết", "Details", new { id = product.ProductID }, new { @class = "btn btn-primary btn-sm" })
                        @Html.ActionLink("Xóa", "Delete", new { id = product.ProductID }, new { @class = "btn btn-primary btn-sm" })
                    </td>
                </tr>
            }

        </tbody>



    </table>
}
else
{
    <p> Không tìm được sản phẩm nào phù hợp </p>
}
<div class="form-group">
    <div class="col-md-offset-8 col-md-4">
        @Html.ActionLink("Thêm mới", "Create", null, new { @class = "btn btn-primary" })
    </div>
</div>
