@model  DoAnLTW.Models.ViewModel.ProductSearchVM

<style>
    img {
        height: 120px;
        max-width: 120px;
    }



    .btn-primary {
        background-color: black;
        color: white;
    }
</style>


@if (Model.Products != null && Model.Products.Any())
{
    <h2>DANH SÁCH SẢN PHẨM</h2>
    <p>
        @Html.ActionLink("Thêm mới sản phẩm", "Create", null, new { @class = "btn btn-primary btn-sm" })
    </p>

    <table class="table table bg-info">
        <tr>
            <th class="bg-success" col-md-3>
                @*@Html.DisplayNameFor(model => model.ProductName)*@
                Tên sản phẩm
            </th>
            <th class="bg-success" col-md-2>
                @*@Html.DisplayNameFor(model => model.ProductDecription)*@
                Mô tả
            </th>
            <th class="bg-success" col-md-1>
                @*@Html.DisplayNameFor(model => model.ProductPrice)*@
                Giá
            </th>

            <th class="bg-success" col-md-2>
                @*@Html.DisplayNameFor(model => model.ProductImage)*@
                hình ảnh
            </th>
            <th class="bg-success" col-md-4>
                @*@Html.DisplayNameFor(model => model.Category.CategoryName)*@
                Danh mục
            </th>
            <th class="bg-success" col-md-4></th>
        </tr>

        @foreach (var item in Model.Products)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.ProductName)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.ProductDescription)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.ProductPrice)
                </td>
                <td>
                    <img src="@Html.DisplayFor(modelItem => item.ProductImage)"
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Category.CategoryName)
                </td>
                <td>
                    @Html.ActionLink("Chỉnh sửa", "Edit", new { id = item.ProductID }, new { @class = "btn btn-primary  btn-sm" })
                    @Html.ActionLink("Chi tiết", "Details", new { id = item.ProductID }, new { @class = "btn btn-primary  btn-sm" })
                    @Html.ActionLink("Xóa", "Delete", new { id = item.ProductID }, new { @class = "btn btn-primary  btn-sm" })
                </td>

            </tr>
        }

    </table>

}
else
{
    <p>Không tìm được sản phẩm</p>
}


