@model  DoAnLTW.Models.ViewModel.LoginVM
@{
    ViewBag.Title = "Login";
    Layout = "~/Views/Shared/_MasterLayout.cshtml";
}

<style>
    body {
        font-family: Arial, sans-serif;
    }

    .container {
        height: 420px;
        width: 300px;
    
        justify-content: center;
    }

    .accountbtn {
        margin-top: 30px;
        width: 275px;
        height: 40px;
        border-radius: 10px;
        align-content: center;
        background-color:black;
        color:white;
    }

    .form-group {
        width: 100%;
        padding: 10px;
        margin-bottom: 5px;
        border: 1px solid #ccc;
        border-radius: 20px;
        font-size: 14px;
    }


    .box-login {
        height: 30px;
        width: 180px;
        border-radius:10px;
    }


   
 
</style>


<!DOCTYPE html>
<div class="container">

    @using (Html.BeginForm("Login", "Account", FormMethod.Post, new { @class = "form-horizontal", role = "form" }))
    {
        @Html.AntiForgeryToken()
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
        <div class="form-group">
            <h2 class="col-md-6" style="text-align:center;">Đăng nhập</h2>
        </div>

        @* Tên đăng nhập*@
        <div class="form-group">
            @Html.LabelFor(m => m.Username, new { @class = "control-lebel col-md-2" })
            <div class="col-md-4">
                @Html.TextBoxFor(m => m.Username, new { @class = "box-login" })
                @Html.ValidationMessageFor(m => m.Username)
            </div>
        </div>

        @* Mật khẩu*@
        <div class="form-group">
            @Html.LabelFor(m => m.Password, new { @class = "control-lebel col-md-2" })
            <div class="col-md-4">
                @Html.TextBoxFor(m => m.Password, new { @class = "box-login" })
                @Html.ValidationMessageFor(m => m.Password)
            </div>
        </div>

        <div class="form-group">
            <div class="col-md-offset-2 col-md-4">
                <input type="submit" value="Đăng nhập" class="btn btn-info accountbtn" /><br />
                <p>Bạn chưa có tài khoản?<a href="@Url.Action("Register", "Account", null)">Đăng ký đi</a></p>
            </div>
        </div>
    }


    
</div>
